@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #4f47e6,
    ),
    'success': (
      'base': #02b52a,
    ),
    'warning': (
      'base': #ff7d00,
    ),
    'danger': (
      'base': #f53f3f,
    ),
    'error': (
      'base': #f53f3f,
    ),
    'info': (
      'base': #909399,
    ),
  ),
  $border-radius: (
    'base': 2px,
    'small': 1px,
  ),
  $fill-color: (
    'blank': #e9edf0,
    'dark': #e0e5e9,
    'light': #ffffff,
  )
);
