@use './common.scss' as *;
@use './dark.scss' as *;

@use './dark.scss' as *;

.el-input__wrapper {
  box-shadow: none;

  &:hover {
    box-shadow: none;
    background-color: var(--el-fill-color-dark);
  }

  &.is-focus {
    border: 1px solid var(--primary) inset;
    background-color: var(--el-fill-color-light);
    &:hover {
      box-shadow: 0 0 0 1px var(--el-input-focus-border-color) inset;
    }
  }
}
